# API
API_PORT=4000
API_JWT_SECRET=*/*REPLACE_WITH_A_STRONG_SECRET_KEY*/*
API_CORS_ORIGIN=http://localhost:4200

# Database
DATABASE_URL=postgresql://deploymate:deploymate@localhost:5432/deploymate

# Redis
REDIS_URL=redis://localhost:6379